.assistance-widget {
    position: relative;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: relative;

        &.white-text {
            color: white;
        }

        .title-wrapper {
            text-align: center;
            padding-top: 50px;

            .green-line {
                margin: auto;
            }
        }

        .assistance-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            @include font-size($big-text-sizes);

            @media screen and (max-width: $mobile) {
                flex-direction: column;
                padding: 50px 0;
            }

            .col {
                flex-basis: 50%;
                text-align: left;

                @media screen and (max-width: $mobile) {
                    flex-basis: 100%;
                    margin-top: 20px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}