.features-widget {
    &.margin-top {
        margin: 100px 0;
    }

    .container {
        .title-wrapper {
            text-align: center;
            .green-line {
                margin: auto;
            }
        }

        .feature-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 50px;

            .feature {
                width: calc(33% - 20px);

                @media screen and (max-width: $tablet) {
                    width: 100%;
                    margin-top: 20px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                .feature-icon {
                    width: 100%;
                    height: 80px;
                    text-align: center;

                    @media screen and (max-width: $tablet) {
                        height: 50px;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .feature-title {
                    text-align: center;
                    margin-top: 5px;
                    color: $text;
                    font-weight: 700;
                    @include font-size($small-header);
                }

                .feature-text {
                    max-width: 400px;
                    margin: auto;
                    text-align: center;
                    color: $text;
                    margin-top: 5px;
                }
            }
        }
    }
}