.products-showcase-widget {

    .headline {
        text-align: center;
        @include font-size($small-header);
    }

    .green-line {
        margin: auto;
    }

    .model-wrapper {
        margin-top: 100px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .model {
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
            margin-top: 10px;
            width: calc(20% - 10px);
            

            &:hover {
                .image-wrapper {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            @media screen and (max-width: 1100px) {
                width: calc(25% - 10px);
            }

            @media screen and (max-width: $tablet) {
                width: calc(33% - 10px);
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

           a {
               display: flex;
               flex-direction: column;
               height: 100%;

            .image-wrapper {
                width: 100%;
                max-height: 170px;
                text-align: center;
                padding: 10px 0;
                box-sizing: content-box;
                overflow: hidden;

                img {
                    height: 150px;
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    transition: all .2s ease;
                }
            }

            .text-wrapper {
                width: 100%;
                background: $gray;
                color: white;
                flex: 1;

                p {
                    display: inline-block;
                }
                
                .title {
                    text-align: left;
                    font-weight: 700;
                    color: $green;
                    padding-top: 10px;
                    padding-left: 15px;
                }

                .link-text {
                    padding-top: 5px;
                    padding-left: 15px;
                    padding-bottom: 10px;
                    font-size: 14px;
                    transition: all .2s ease;

                    &:hover {
                        color: $green;
                    }
                }
            }
           }
        }

        .filler {
            content: "";
            width: calc(20% - 10px);

            @media screen and (max-width: 1100px) {
                width: calc(25% - 10px);
            }

            @media screen and (max-width: $tablet) {
                width: calc(33% - 10px);
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
            }
        }
    }
}