.text-island-widget {
    .text-island-wrapper {
        text-align: center;

        .green-line {
            margin: auto;
        }

        h3 {
            max-width: 700px;
            margin: auto;
            font-weight: 400;
            margin-top: 20px;
        }
    }
}